# ide
venv
.venv
.idea

# build files
build
dist
*.egg-info
Utils.egg-info/
__pycache__

# Mac files
.DS_Store
*.swp

# pipenv file
#Pipfile.lock
#Pipfile

# stack
stack

# test data
avro
data
answer
test_data
_masa_check.py
temp_*
issues_list/
db/
data_*/
tmp/
output/
bouffier-java/
pickle/
pickle_*/
deleted_data/
params/
tables/
feature_importance_RF/
result/
results/
plot/
hash/
*.csv
*.db
data_th/
plot_th/
result_th/
tables_th/
effort_plot/
effort_tables/
